# Кэш байт-кода Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (если вы его используете, например, venv/)
venv/
env/

# Отчеты о покрытии тестами
.coverage
.coverage.*
htmlcov/

# Сгенерированные отчеты программы (пример для вашего случая)
*_report.txt

